*{margin:0px auto}
body
	{
		background-color : #44706d ;
		margin:10px;
		padding: 10px;
	}
    .header
	{
	width: 100%;
	height:auto;
	float:left;
	background-color:#AFEEEE;
	text-decoration:none;
      
	}
    .header h1
	{
	color:#008080;
	font-family:Audiowide Regular;
	padding:10px;
	text-decoration:none;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	}
    .nav
    {
        width: 100%;
        height: auto;
        float: left;
        background-color: antiquewhite;
        text-decoration:none;
        margin: 10px 0px;
        text-align: center;
    }
    .nav ul
	{
	margin:10px;
	padding:0px;
	}
.nav ul li
	{
	list-style:none;
	display :inline ;
	}
.nav ul li a
	{
	color:#ff0000;
	text-decoration:none;
	margin:0 0 0 45px;
	font-family:Vani Regular;
	display:inline-block;
	transition: 0.3s all;
	}
.nav ul li a:hover
	{
	color:rgb(49, 0, 165);
	
	}
.hover-line::after
	{
		content: " ";
		display: block;
		width: 0%;
		height: 5px;
		background-color: #666;
		transition: width 0.3s;
	}
.hover-line:hover:after	
{
	width:100%;
	transition:width .3s;
}
.content
	{
	width:100%;
	height:auto;
	text-decoration:none;
	}
    .marketing
	{
	width:98%;
	height:auto;
	float:left;
	background-color:#000;
	align-items: center;
	}
    .img_holder
	{
	width:100%;
	height:auto;
	background-color:rgb(172, 58, 58);
	align-self: center;
    padding: 10px;  
	align-items: center;
	}
    .info
	{
	width:98%;
	height:auto;
	float:left;
	background-color:#000;
	margin-bottom:10px;
	margin-top: 10px;
	padding:10px;
	align-items: center;
	}
.paragraph
	{
    width:98%;
	height:auto;
	float:left;
	background-color:#ccc;
	margin:10px 10px 10px;
	padding:0 10px;
	align-items: center;
	}
.description
	{
	width:45%;
	height:auto;
	float:left;
	margin:10px 05px 05px;
	background-color:#000;
	padding:10px;
	align-items: center;
    text-align: center;
	}
	    .description h2
	{
	color:#fff;
	background-color:#666;
	text-align:center;
	font-family:arial narrow;
	padding:5px;
	border-radius:5px;
	}
    .description p
	{
	color:#fff;
	text-align:justify;
	font-family:arial narrow;
	padding:5px;
	border-radius:5px;
	}
	.description form
	{
	width:100%;
	color:#fff;
	text-align:left;
	font-family:arial narrow;
	padding:5px;
	border-radius:5px;
	font-family:monospace;
	font-size: 20px;
	}
	.description textarea
	{
	width:98%;
	height: 80px;
	text-align:left;
	font-family:arial narrow;
	margin-right: 10px;
	border-radius:5px;
	font-family:monospace;
	font-size: 20px;
	}

    .description_img
	{
	width:100%;
	height:auto;
	float:center;
	background-color:#fff;
	margin:10 10 10 10px;
	}
	.description1
	{
	width:20%;
	height:auto;
	float:left;
	margin:10px 05px 05px;
	background-color:#000;
	padding:10px;
	align-items: center;
    text-align: center;
	}
	.description1 h2
	{
	color:#fff;
	background-color:#666;
	text-align:center;
	font-family:arial narrow;
	padding:5px;
	border-radius:5px;
	}
    .description1 p
	{
	color:#fff;
	text-align:left;
	font-family:arial narrow;
	padding:5px;
	border-radius:5px;
	}

    .description1_img
	{
	width:100%;
	height:auto;
	float:center;
	background-color:#fff;
	margin:10 10 10 10px;
	}
	.description2
	{
	width:20%;
	height:auto;
	float:left;
	margin:10px 05px 05px;
	background-color:#000;
	padding:10px;
	align-items: center;
    text-align: center;
	}
	    .description2 h2
	{
	color:#fff;
	background-color:#666;
	text-align:center;
	font-family:arial narrow;
	padding:5px;
	border-radius:5px;
	margin-bottom: 5px;
	}
    .description2 p
	{
	color:#fff;
	text-align:left;
	font-family:arial narrow;
	padding:5px;
	border-radius:5px;
	}

   
	.footer
	{
	width:100%;
	height:auto;
	float:left;
	background-color:#AFEEEE;
	
	}
.footer p
	{
	color:rgb(37, 36, 36);
	text-align:center;
	font-family:Times_New_Roman_Regular ;
	font-size:20px;
	margin:10px 10px 10px 10px;
	}
   